<%= form_for(@portfolio_item) do |form| %>
<div class="row">
  <div class="col-md-6">
      <div class="field">
        <%= form.label :title %>
        <%= form.text_field :title, class: 'form-control' %>
      </div>

      <div class="field">
        <%= form.label :subtitle %>
        <%= form.text_field :subtitle, class: 'form-control' %>
      </div>
  </div>
  <div class="col-md-6">
      <div class="field">
        <%= form.label :body %>
        <%= form.text_area :body, class: 'form-control',rows: 13 %>
      </div>
  </div>
</div>

<div class="col-md-12">
  <ul>
       <%= form.fields_for :technologies do |technology_form| %>
        <li>
          <%= technology_form.label :name %>
          <%= technology_form.text_field :name, class: 'form-control'%>
        </li>
       <% end %>
  </ul>

  <div class="actions">
    <%= form.submit 'Save Portfolio Item', class: 'btn btn-primary btn-block'%>
  </div>
</div>
<% end %>